<%- include('./partials/header'); %>


    <!-- My Docs Hero -->
    <section id="desc-hero" class="g-c-c r-300-144-100">
        <div class="result-hero-text">
            <div class="navi-path f-r-c">
                <a href="" class="smallest-h">Study material</a>
                <a href="" class="smallest-h">> COA</a>
                <a href="" class="smallest-h">> Memory Association</a>
                <a href="" class="smallest-h">> document name</a>
            </div>
            <h2>Search from <b> 100 million </b> different study documents</h2>
            <form class="f-r-c main-search docs-desc-search" action="/action_page.php">
                <input type="text" placeholder="Search notebank by university, tag or file name" name="search"
                    class="search-box">
                <button class="search-btn" id="search-icon" type="button"
                    onclick="location.href='search-result.html'"><img src="images/icons/search-hero.svg"
                        alt=""></button>
                <!-- this button is temporary for now. it will be created using js -->
            </form>
            <div class="f-r-c desc-tags">
                <div class="doc-name m-r-15"> <%= documentName %></div>
                <div class="btn-bg m-r-15"><button class="docs-desc-bookmark-hover"><img src="images/icons/bookmark.svg"
                            class="docs-desc-hover-img" alt="" onclick="docsDescBtn()"></button></div>
                <div class="btn-bg m-r-15"><button class="docs-desc-cart-hover"><img src="images/icons/add-to-cart.svg"
                            class="docs-desc-hover-img" alt="" onclick="docsDescBtn()" height="16px" width="16px"></button></div>
                <tags class="c-box purple-box"><%= course %></tags>
                <tags class="c-box pink-box"> <%= type %>  </tags>
                <tags class="c-box orange-box"> <%= subject %>  </tags>
                <tags class="c-box green-box"> <%= topic %>  </tags>
            </div>
            <div class="f-r-fs m-t-20 m-b-40">
                <div class="doc-info">
                    <div class="semi-10">Course</div>
                    <div class="regu-12"><%= course %></div>
                </div>
                <div class="doc-info">
                    <div class="semi-10">Year</div>
                    <div class="regu-12"><%= year %></div>
                </div>
                <div class="doc-info">
                    <div class="semi-10">Subject</div>
                    <div class="regu-12"><%= subject %></div>
                </div>
                <div class="doc-info">
                    <div class="semi-10">Doc type</div>
                    <div class="regu-12"><%= type %></div>
                </div>
                <div class="doc-info">
                    <div class="semi-10">Topic</div>
                    <div class="regu-12"><%= topic %></div>
                </div>
                <div class="doc-info">
                    <div class="semi-10">Pages</div>
                    <div class="regu-12">12</div>
                </div>
                <div class="doc-info">
                    <div class="semi-10">Rating</div>
                    <div class="rating">
                        <div class="stars">
                            <img src="images/icons/star.svg" alt="">
                            <img src="images/icons/star.svg" alt="">
                            <img src="images/icons/star.svg" alt="">
                            <img src="images/icons/star.svg" alt="">
                            <img src="images/icons/star.svg" alt="">
                        </div>
                        <a class="smallest-text" href="#">9,125</a>
                    </div>
                </div>
                <div class="doc-info">
                    <div class="semi-10">University</div>
                    <div class="regu-12"><%= university.toUpperCase() %></div>
                </div>
                <div class="doc-info">
                    <div class="semi-10">Owner</div>
                    <div class="regu-12" id="owner"><a href="/profile"><%= docDescList1.Username.toUpperCase() %></a></div>
                </div>
            </div>
        </div>
    </section>

    <div id="below-hero" class="bg-f9 r-300-144-100 g-c-c">
        <!-- Buy or subscribe -->
        <section id="add-bar" class="mat-item add-bar f-r-c-sb m-t-40">
            <div class="big-text">Purchase or subscribe to <div class="sidebar-heading">download and unlock</div>
                all
                pages.</div>
            <div class="add-bar-cta f-r-c">
                <button class="buynow-cta">BUY NOW</button>
                <button class="subscribe-cta">SUBSCRIBE</button>
            </div>
        </section>

        <div class="desc-content f-r-fs">
            <div class="pdf-view m-r-30">
                <div class="pdf-page m-b-15 f-c-c">
                    <div class="page-num f-r-c m-b-20">
                        <div class="semi-10">Showing Page:</div>
                        <div class="semi-16-c f-r-c">1 <div class="semi-16-c total-pages">/12</div>
                        </div>
                    </div>
                    <img src="images/IMG_1188.JPG" alt="">
                    <div class="pdf-render"></div>
                </div>
                <div class="pdf-page m-b-15 f-c-c ">
                    <div class="page-num f-r-c m-b-20">
                        <div class="semi-10">Showing Page:</div>
                        <div class="semi-16-c f-r-c">2 <div class="semi-16-c total-pages">/12</div>
                        </div>
                    </div>
                    <img src="images/IMG_1188.JPG" alt="">
                </div>
                <div class="pdf-page m-b-15 f-c-c ">
                    <div class="page-num f-r-c m-b-20">
                        <div class="semi-10">Showing Page:</div>
                        <div class="semi-16-c f-r-c">3 <div class="semi-16-c total-pages">/12</div>
                        </div>
                    </div>
                    <img src="images/IMG_1188.JPG" alt="">
                </div>
            </div>
            <div class="desc-sidebar">
                <div class="doc-details m-b-30">
                    <div class="semi-16-c m-b-15">Document Details</div>
                    <div class="ques-desc-box">
                        <div class="ques-desc-heading f-r-c-sb">
                            <div class="selected" onclick="descBox()">
                                <h4>questions</h4>
                            </div>
                            <div class="" onclick="descBox()">
                                <h4>description</h4>
                            </div>
                        </div>
                        <div>
                            <div class="ques-desc d-none">
                                <p class="desc-para"><%= docDescList1.Description %></p>
                            </div>
                            <div class="pdf-hover ques-box">
                                <div class="ques-desc">
                                    <div class="f-r-c-sb">
                                        <p>Who is this doc for?</p>
                                        <button><img src="images/icons/down-arrow.svg" class="down-arrow" alt=""></button>
                                    </div>
                                    <p class="c-para-text"><%= docDescList1.ans1 %> </p>
                                </div>
                                <div class="ques-desc">
                                    <div class="f-r-c-sb">
                                        <p>Who is this doc for?</p>
                                        <button><img src="images/icons/down-arrow.svg" class="down-arrow" alt=""></button>
                                    </div>
                                    <p class="c-para-text"><%= docDescList1.ans2 %> </p>
                                </div>
                                <div class="ques-desc">
                                    <div class="f-r-c-sb">
                                        <p>Who is this doc for?</p>
                                        <button><img src="images/icons/down-arrow.svg" class="down-arrow" alt=""></button>
                                    </div>
                                    <p class="c-para-text"><%= docDescList1.ans3 %> </p>
                                </div>
                                <div class="ques-desc">
                                    <div class="f-r-c-sb">
                                        <p>Who is this doc for?</p>
                                        <button><img src="images/icons/down-arrow.svg" class="down-arrow" alt=""></button>
                                    </div>
                                    <p class="c-para-text"><%= docDescList1.ans4 %> </p>
                                </div>
                                <div class="ques-desc">
                                    <div class="f-r-c-sb">
                                        <p>Who is this doc for?</p>
                                        <button><img src="images/icons/down-arrow.svg" class="down-arrow" alt=""></button>
                                    </div>
                                    <p class="c-para-text"><%= docDescList1.ans5 %> </p>
                                </div>
                                <div class="ques-desc">
                                    <div class="f-r-c-sb">
                                        <p>Who is this doc for?</p>
                                        <button><img src="images/icons/down-arrow.svg" class="down-arrow" alt=""></button>
                                    </div>
                                    <p class="c-para-text"><%= docDescList1.ans6 %> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related-docs f-c-fs">
                    <div class="semi-16-c m-b-15">Related Documents</div>
                    <div class="sidebar-pdfbox pdf-hover">
                        <div class="sidebar-pdf">
                            <img src="images/IMG_1188.JPG" alt="">
                            <div class="pdf-text">
                                <div class="tag-box">
                                    <tags style="color: #6463C1 ;">Course</tags>
                                    <tags style="color: #FF6889;">Sem</tags>
                                    <tags style="color: #FF9C28;">Subject</tags>
                                    <tags style="color: #60CD83;">Topic</tags>
                                </div>
                                <p><a href=""> Counting 1-100 with. aa just checking width.........</a></p>
                                <div class="rating">
                                    <div class="stars">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                    </div>
                                    <a class="smallest-text" href="#">9,125</a>
                                </div>
                                <div class="link">12 page</div>
                            </div>
                        </div>
                        <div class="sidebar-pdf">
                            <img src="images/IMG_1188.JPG" alt="">
                            <div class="pdf-text">
                                <div class="tag-box">
                                    <tags style="color: #6463C1 ;">Course</tags>
                                    <tags style="color: #FF6889;">Sem</tags>
                                    <tags style="color: #FF9C28;">Subject</tags>
                                    <tags style="color: #60CD83;">Topic</tags>
                                </div>
                                <p><a href=""> Counting 1-100 with. aa just checking width.........</a></p>
                                <div class="rating">
                                    <div class="stars">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                    </div>
                                    <a class="smallest-text" href="#">9,125</a>
                                </div>
                                <div class="link">12 page</div>
                            </div>
                        </div>
                        <div class="sidebar-pdf">
                            <img src="images/IMG_1188.JPG" alt="">
                            <div class="pdf-text">
                                <div class="tag-box">
                                    <tags style="color: #6463C1 ;">Course</tags>
                                    <tags style="color: #FF6889;">Sem</tags>
                                    <tags style="color: #FF9C28;">Subject</tags>
                                    <tags style="color: #60CD83;">Topic</tags>
                                </div>
                                <p><a href=""> Counting 1-100 with. aa just checking width.........</a></p>
                                <div class="rating">
                                    <div class="stars">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                    </div>
                                    <a class="smallest-text" href="#">9,125</a>
                                </div>
                                <div class="link">12 page</div>
                            </div>
                        </div>
                        <div class="sidebar-pdf">
                            <img src="images/IMG_1188.JPG" alt="">
                            <div class="pdf-text">
                                <div class="tag-box">
                                    <tags style="color: #6463C1 ;">Course</tags>
                                    <tags style="color: #FF6889;">Sem</tags>
                                    <tags style="color: #FF9C28;">Subject</tags>
                                    <tags style="color: #60CD83;">Topic</tags>
                                </div>
                                <p><a href=""> Counting 1-100 with. aa just checking width.........</a></p>
                                <div class="rating">
                                    <div class="stars">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                        <img src="images/icons/star.svg" alt="">
                                    </div>
                                    <a class="smallest-text" href="#">9,125</a>
                                </div>
                                <div class="link">12 page</div>
                            </div>
                        </div>
                    </div>
                    <button class="sidebar-heading read-more m-t-20 m-left">More <img
                            src="images/icons/more-down-arrow.svg" alt=""></button>
                </div>
                <div class="sell-docs-add"></div>
                
            </div>
        </div>

            <!-- Back to top -->
    <!-- <section id="back-to-top"> -->
        <button class="back-top-btn" onclick="backTop()">back to top</button>
    <!-- </section> -->
    </div>

    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <%- include('./partials/footer'); %>

</body> 
</html>