<%- include('./partials/header'); %>

<!-- will later have to change display to grid -->
<div class="g-c-c m-t-40">
    <% if(followStatusHtml == true){ %>
    <button type="button" class="blue-button follow-btn">Follow</button>
    <% }else{ %>
    <button type="button" class="blue-button" id="follower-btn">Followers</button>
    <button type="button" class="blue-button" id="following-btn">Following</button>
    <div class="follow-box basic-bg-border d-none">
        <% usersHtml.forEach((item)=>{ %>
        <h3><%= item.username %> </h3>
        <%}) %>
    </div>
    <div class="follow-box basic-bg-border d-none">
        <% followerUsersHtml.forEach((item)=>{ %>
        <h3><%= item.username %> </h3>
        <%}) %>
    </div>
    <% } %> 
    <div class="f-r-c m-t-30">
        <% postsHtml.forEach((item)=>{ %>
        <div class="pro-post g-c-c m-r-20">
            <button class="more-btn" type="button"><img src="images/icons/more-btn.svg" alt=""></button>
            <div class="more-options f-c-c-fs d-none">
                <button class="semi-10 delete-post" type="button">delete</button>
            </div>
            <p class="c-heading"><%=item.content%></p>
            <div class="d-none"><%=item.postId%></div>
        </div>
        <%}) %>
    </div>
</div>
<script src="JS/profile.js" charset="utf-8"></script>
<%- include('./partials/footer-login'); %>