<%- include('./partials/header'); %>

<div class="mat">
    <!-- Study Material Hero -->
    <section id="mat-hero" class="mat-item mat-hero">
        <div class="mat-hero-text">
            <h2>Find notes, solved papers and more...</h2>
            <p>From notes used by toppers to test papers made by renowned professors. </p>
            <form class="search-form main-search" action="/search" id="studyForm" method="POST">
                <div class="mat-input">
                    <input list="subjects" placeholder="SUBJECT" name="subject">
                    <datalist id="subjects">
                        <option value="COA">Computer Organisation and Architecture</option>
                        <option value="Maths">Mathematics</option>
                        <option value="French">French</option>
                        <option value="C++">C++</option>
                        <option value="DSA">Data Structures and Algorithms</option>
                        <option value="ADA">Analysis and Design of Algorithms</option>
                        <option value="OS">Operating Systems</option>
                        <option value="Java">Java</option>
                        <option value="Python">Python</option>
                        <option value="DS">Discrete Structures</option>
                        <option value="Chemistry">Chemistry</option>
                    </datalist>
                </div>
                <input type="text" placeholder="Search notebank by university, tag or file name" name="searchInput"
                    class="search-box">
                <button class="search-btn" id="search-icon" type="submit" form="studyForm"><img
                        src="images/icons/search-hero.svg" alt=""></button>
                <!-- this button is temporary for now. it will be created using js -->
            </form>
            <p class="smallest-text"><a class="link" href="#">Not able find document ?</a> Let us search for you.
                Result within 2 hrs.</p>
        </div>
        <img src="images/search-engines-mat-hero.png" alt="">
    </section>

    <section id="add-bar" class="mat-item g-c-c r-300-144-100">
        <div class="add-bar f-r-c-sb">
            <div class="big-text">Purchase or subscribe to <div class="sidebar-heading">download and unlock</div>
                all
                pages.</div>
            <div class="add-bar-cta f-r-c">
                <button class="buynow-cta">BUY NOW</button>
                <button class="subscribe-cta">SUBSCRIBE</button>
            </div>
        </div>
    </section>

    <!-- Subjects -->
    <section id="mat-subjects" class="mat-item">
        <div class="heading">
            <div class="f-r-fe">
                <h3>Top documents from branch_name</h3>
                <a class="small-semi" href="#">View All</a>
            </div>
            <div class="arrows f-r-c">
                <button class="left-arrow m-r-20"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="left-arrow-img"></button>
                <button class="right-arrow"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="right-arrow-img"></button>
            </div>
        </div>
        <div class="pdf-subjects-box scroll">
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Popular Topics -->
    <section id="mat-subjects" class="mat-item">
        <div class="heading">
            <div class="f-r-fe">
                <h3>Top documents from branch_name</h3>
                <a class="small-semi" href="#">View All</a>
            </div>
            <div class="arrows f-r-c">
                <button class="left-arrow m-r-20"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="left-arrow-img"></button>
                <button class="right-arrow"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="right-arrow-img"></button>
            </div>
        </div>
        <div class="pdf-subjects-box scroll">
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="pdf-subjects g-c-c">
                <div class="small-semi sub-cou m-t-10"><a href="/topic">COA</a></div>
                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
        </div>
    </section>

    <!-- Top documents from branch_name -->
    <% if(neededInfoList.length){ %> 
    <section id="mat-latest-docs" class="mat-item mat-latest-docs dash-recent mat-width">
        <div class="heading">
            <div class="f-r-fe">
                <h3>Top documents from branch_name</h3>
                <a class="small-semi" href="#">View All</a>
            </div>
            <div class="arrows f-r-c">
                <button class="left-arrow m-r-20"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="left-arrow-img"></button>
                <button class="right-arrow"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="right-arrow-img"></button>
            </div>
        </div>
        <div class="pdf-boxes pdf-hover pdfs scroll">
            <% neededInfoList.forEach(repeatSyntax); %>
            <%function repeatSyntax(item,index,arr){%>
            <div class="n-pdf-bg pdf-with-user">
                <div class="doc-desc-link g-c-c d-none semi-10 ">
                    <a href="/doc-desc">View Document</a>
                </div>
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <% if(currentUserDocsHtml[item.DocId][0] == null){ %> 
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                            <% }else{ %>
                                <button class="hover-save-doc"><img src="images/icons/bookmark-blue.svg" class="hover-save-doc-img"
                                    alt="" height="16px"></button>
                                <% } %>  
                    <% if(currentUserDocsHtml[item.DocId][1] == null){ %> 

                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                            <% }else{ %>
                                <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart-blue.svg"
                                    class="hover-add-cart-img" alt="" height="16px"></button>
                                <% } %>  


                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;"><%= arr[index].Topic%></tags>
                    <%if(arr[index].Doc_Type == 'Assignment'){%>
                    <%    arr[index].Doc_Type = 'Assign.'%>
                    <%} else if (arr[index].Doc_Type == 'Question Paper'){%>
                    <%    arr[index].Doc_Type = 'QuesP.'%>
                    <%}%>
                        <tags style="color: #FF6889;"><%= arr[index].Doc_Type%></tags>
                    <tags style="color: #FF9C28;"><%= arr[index].Subject.substring(0,3) %></tags>
                    <tags style="color: #60CD83;"><%= arr[index].Topic%></tags>
                </div>
                <a class="desc-link">
                    <div class="d-none"><%= arr[index].DocId%></div>
                    <div class="d-none"><%= arr[index].docpath%></div>
                    <p><%= arr[index].DocName%></p>
                </a>
                <div class="smallest-text college"><%= arr[index].University %>
                    <%if (arr[index].Username!=null){%>
                    <span>|</span>
                    <%}%>
                        <span class="user"><%= arr[index].Username%></span>
                </div>
                <div class="small-semi">₹ <%= arr[index].Price %></div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <% } %>
        </div>
    </section>
    <% } %> 

    <!-- Top Universities -->
    <section class="dash-topuniv mat-width mat-item">
        <div class="heading">
            <div class="f-r-fe">
                <h3>Top documents from branch_name</h3>
                <a class="small-semi" href="#">View All</a>
            </div>
            <div class="arrows f-r-c">
                <button class="left-arrow m-r-20"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="left-arrow-img"></button>
                <button class="right-arrow"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="right-arrow-img"></button>
            </div>
        </div>
        <div class="pdf-boxes pdf-hover pdfs scroll">
            <div class="univ">
                <div class="img-frame"><img src="images/iit kharagpur.png" alt=""></div>
                <p>IIT Kharagpur</p>

                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="univ">
                <div class="img-frame"><img src="images/iit kharagpur.png" alt=""></div>
                <p>IIT Kharagpur</p>

                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="univ">
                <div class="img-frame"><img src="images/iit kharagpur.png" alt=""></div>
                <p>IIT Kharagpur</p>

                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="univ">
                <div class="img-frame"><img src="images/iit kharagpur.png" alt=""></div>
                <p>IIT Kharagpur</p>

                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="univ">
                <div class="img-frame"><img src="images/iit kharagpur.png" alt=""></div>
                <p>IIT Kharagpur</p>

                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="univ">
                <div class="img-frame"><img src="images/iit kharagpur.png" alt=""></div>
                <p>IIT Kharagpur</p>

                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="univ">
                <div class="img-frame"><img src="images/iit kharagpur.png" alt=""></div>
                <p>IIT Kharagpur</p>

                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="univ">
                <div class="img-frame"><img src="images/iit kharagpur.png" alt=""></div>
                <p>IIT Kharagpur</p>

                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="univ">
                <div class="img-frame"><img src="images/iit kharagpur.png" alt=""></div>
                <p>IIT Kharagpur</p>

                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
            <div class="univ">
                <div class="img-frame"><img src="images/iit kharagpur.png" alt=""></div>
                <p>IIT Kharagpur</p>

                <div class="total-docs">
                    <div class="smallest-text">15,890</div>
                    <div class="smallest-text">Documents</div>
                </div>
            </div>
        </div>
    </section>

    <!-- GD Gooenka university study material -->
    <section id="mat-top-docs" class="mat-item dash-recent mat-width">
        <div class="heading">
            <div class="f-r-fe">
                <h3>Top documents from branch_name</h3>
                <a class="small-semi" href="#">View All</a>
            </div>
            <div class="arrows f-r-c">
                <button class="left-arrow m-r-20"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="left-arrow-img"></button>
                <button class="right-arrow"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="right-arrow-img"></button>
            </div>
        </div>
        <div class="pdf-boxes pdf-hover pdfs scroll">
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
        </div>
    </section>

    <!-- Recently Viewed -->
    <section id="mat-top-docs" class="mat-item dash-recent mat-width">
        <div class="heading">
            <div class="f-r-fe">
                <h3>Top documents from branch_name</h3>
                <a class="small-semi" href="#">View All</a>
            </div>
            <div class="arrows f-r-c">
                <button class="left-arrow m-r-20"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="left-arrow-img"></button>
                <button class="right-arrow"><img src="images/icons/more-down-arrow.svg" alt=""
                        class="right-arrow-img"></button>
            </div>
        </div>
        <div class="pdf-boxes pdf-hover pdfs scroll">
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
            <div class="n-pdf-bg pdf-with-user">
                <div class="hover-ctas f-r-c">
                    <button class="hover-zoom"><img src="images/icons/hover-zoom.svg" class="hover-zoom-img" alt=""
                            height="16px"></button>
                    <button class="hover-save-doc"><img src="images/icons/hover-bookmark.svg" class="hover-save-doc-img"
                            alt="" height="16px"></button>
                    <button class="hover-add-cart"><img src="images/icons/hover-add-to-cart.svg"
                            class="hover-add-cart-img" alt="" height="16px"></button>
                </div>
                <div class="pdf-img">
                    <img src="images/IMG_1188.JPG" alt="" height="120px">
                </div>
                <div class="tag-box">
                    <tags style="color: #6463C1 ;">Course</tags>
                    <tags style="color: #FF6889;">Sem</tags>
                    <tags style="color: #FF9C28;">Subject</tags>
                    <tags style="color: #60CD83;">Topic</tags>
                </div>
                <p>Counting 1-100 with spellings</p>
                <div class="smallest-text college">IIT Mumbai <span>|</span>
                    <span class="user">Jayesh</span>
                </div>
                <div class="small-semi">₹256</div>
                <div class="rating">
                    <div class="stars">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                        <img src="images/icons/star.svg" alt="">
                    </div>
                    <a class="smallest-text" href="#">9,125</a>
                </div>
                <div class="smallest-h">12 page</div>
            </div>
        </div>
    </section>
</div>

</body>
<%- include('./partials/footer'); %>
<script src="JS/study_mat.js" charset="utf-8"></script>
</body>

</html>